.nav-custom {
    color: #3B71CA !important; /* Default color */
  }
  
  .nav-custom:hover {
    color: #DC4C64 !important; /* Hover color */
  }
  
  .nav-dropdown-custom .dropdown-item {
    color: #3B71CA !important;
  }
  
  .nav-dropdown-custom .dropdown-item:hover {
    background-color: #3B71CA !important;
    color:#fff !important;
  }
  .nav-dropdown-custom .dropdown-toggle {
    color: #3B71CA !important; /* Default color */
  }
  
  .nav-dropdown-custom .dropdown-toggle:hover {
    color: #DC4C64 !important; /* Hover color */
  }
  
  